body{
    --primary: #de3c4b;
    --primary-constrast: white;
    --secondary: #717777;
    --font: Helvetica, Arial, sans-serif;
    --font-size: 1rem; 
    --text-color: #2D3142;
    --card-background: #ffffff;
    --technologies-background: #ffdadd;
    --page-background: linear-gradient(#4F5D75, #2D3142);
    --imageSize: 200px;

    background: var(--page-background);
    font-family: var(--font);
    font-size:var(--font-size);
    color:var(--text-color)

}